@{
    ViewData["Title"] = "Инструкции";
}
<h1>@ViewData["Title"]</h1>

<p>Учётны данные пользователей по умолчанию:</p>
<p>Администратор: логин - admin, пароль - admin</p>
<p>Пользователь: логин - user, пароль - user</p>
